<div class="container px-md-0 text-right pos-fecha" id="divMargin">
    <span id="fecha-local" class="fecha-local font-italic f-size-fecha"></span>
</div>
<script src="/js/fecha.js" type="module"></script>
