<div class="container bg-white sticky-inventario px-0" id="btn-inv">
    <div class="row h-100 w-100 align-content-center">
        <div class="col-6">
            <div class="text-center">
                <a href="/inventario/crear/producto" class="white">
                    <button type="button" class="btn btn-primary blockMobile">
                        Crear Producto
                    </button>
                </a>
            </div>
        </div>
        <div class="col-6">
            <div class="text-center">
                <a href="/inventario/agregar/entrada" class="white">
                    <button type="button" class="btn btn-primary blockMobile">
                        Agregar Entrada
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>