{{>header}}
{{>fecha}}
<div class="container marginOutTurn" id="cont">
    <div class="text-center" id="title">
        <h4 class="red">INVENTARIO</h4>
    </div>
    <div class="row justify-content-center" id="divSearch">
        <div class="col-12 col-md-6">
            <div class="input-group border-red rounded">
                <input type="text" class="form-control border-0" placeholder="Buscar producto" id="search-products">
                <div class="input-group-prepend">
                    <span class="input-group-text border-0 border-red-right-1px cursor-pointer" id="search-button">
                        <i class="fas fa-search red"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row p-0 m-0 justify-content-center">
        <div class="col-12 col-md-6 p-0 m-0">
            {{>message}}
        </div>
    </div>
    <div class="table-responsive mt-3 overflow tableFixHead hTableInv" id="divTable">
        <table class="table table-striped table-hover mb-0" id="products-table">
            <thead>
                <tr>
                    <th scope="col" class="sticky-prod-inv-act" style="z-index: 100;">Producto</th>
                    <th scope="col" class="text-center">Hoy</th>
                    <th scope="col" class="text-center">Entradas</th>
                    <th scope="col" class="text-center">Vendidos</th>
                    <th scope="col" class="text-center">Bajas</th>
                    <th scope="col" class="text-center">Fiados</th>
                    <th scope="col" class="text-center">Existentes</th>
                    <th scope="col" class="text-center">Acciones</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    {{>gestionInv}}
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/inventario/index.js" type="module"></script>