{{>header}}
{{>header-turno}}
{{>fecha}}
<div class="container">
    <div class="text-center border-down-red">
        <h3 class="pb-3 d-none d-md-block">AGREGAR EMPLEADO DE TURNO</h3>
        <h4 class="pb-3 d-md-none">AGREGAR EMPLEADO DE TURNO</h4>
    </div>
    <form>
        <div class="mt-2 mt-md-3">
            <h5 class="font-weight-bold d-none d-md-block">Nombre del empleado</h5>
            <span class="font-weight-bold d-md-none">Nombre del empleado</span>
        </div>
        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" placeholder="Nombre del empleado">
        <div class="mt-2 mt-md-3">
            <h5 class="font-weight-bold d-none d-md-block">Valor</h5>
            <span class="font-weight-bold d-md-none">Valor</span>
        </div>
        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" placeholder="3">
        <div class="text-right d-none d-md-block">
            <button type="submit" class="btn btn-primary mt-3">Pagar</button>
        </div>
        <div class="text-right d-md-none">
            <button type="submit" class="btn btn-primary mt-3 btn-sm">Pagar</button>
        </div>
    </form>
</div>